h1{
    margin: 0;
    padding: 0;
}
.header_content{
    padding: 0 20px;
}
.header_content .left{
    float: left;
    margin-top: 10px;
}
.header_content .right{
    float: right;
    margin-top: 20px;
}